@import url('https://fonts.googleapis.com/css2?family=DM+Sans:ital,opsz,wght@0,9..40,100..1000;1,9..40,100..1000&family=Montserrat:ital,wght@0,100..900;1,100..900&family=Playfair+Display:ital,wght@0,400..900;1,400..900&family=Spline+Sans:wght@300..700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&display=swap');

@font-face {
    font-family: "PoppinsMedium";
    src: url("./assets/fonts/Poppins-Medium.ttf") format("truetype");
    font-weight: 500;
    font-style: normal;
}

body {
    margin: 0;
    padding: 0;
}

header section.haut {
    background-image: url(./Images/background.png);
    background-size: cover;
    image-rendering: auto;
    color: white;
    width: 100%;
    height: 100%;
    padding-bottom: 50px;
}


header section.haut nav {
    display: flex;
    align-items: center;
    padding-top: 50px;
    gap: 300px;
}

header section.haut nav h1 {
    font-family: "Playfair Display", serif;
    font-size: 32px;
    margin: 0;
    padding: 0 0 0 150px;
    font-weight: bold;
}

header section.haut nav ul {
    list-style: none;
    display: flex;
    gap: 45px;
}

header section.haut nav img {
    display: flex;
    justify-content: end;
}

header section.haut nav ul li a {
    list-style: none;
    text-decoration: none;
    color: white;
    font-family: "PoppinsMedium", sans-serif;
}

header section.haut h2 {
    font-family: "Outfit", sans-serif;
    font-size: 20px;
    letter-spacing: 20%;
    font-weight: 400;
    margin: 0;
    padding: 140px 0 0 150px;
}

header section.haut h3 {
    font-family: "Playfair Display", serif;
    font-weight: bold;
    font-size: 72px;
    display: flex;
    flex-wrap: wrap;
    width: 557px;
    height: auto;
    margin: 0;
    padding: 30px 0 46px 150px;
}

header section.haut p {
    font-family: "Outfit", sans-serif;
    font-size: 18px;
    width: 431px;
    height: auto;
    margin: 0;
    padding: 0 150px;
}

header section.haut .btn1 a {
    margin: 46px 0 0 150px;
    padding: 10px 20px;
    font-size: 18px;
    font-family: "Outfit", sans-serif;
    color: #30261C;
    font-weight: 500;
    text-decoration: none;
    display: block;
    height: 30px;
    width: 130px;
    background-color: white;
    border: 1px solid transparent;
    border-radius: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
}

header section.haut .btn1 a:hover {
    background-color: transparent;
    color: white;
    border: 1px solid white;
}

header section.bas {
    margin: 0;
    padding: 50px 300px;
    background-color: #E2D9C8;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

main {
    display: flex;
    flex-wrap: wrap;
    gap: 50px;
    background-color: #F1F0EE;
}

main h2 {
    font-family: "Playfair Display", serif;
    font-weight: 600;
    font-size: 32px;
    letter-spacing: 4%;
    text-align: center;
    color: #30261C;
    width: 100%;
    margin: 0;
    padding: 70px;
}

.group1 {
    display: flex;
    flex-wrap: wrap;
    gap: 50px;
    justify-content: center;

}

main div article {
    display: flex;
    flex-direction: column;
    border: 1.5px solid #E2D9C8;
    background-color: rgb(226, 217, 200, 20%);
    gap: 20px;
    width: 334px;
    height: auto;
    margin: 0;
    padding: 15px;
    border-radius: 18px;
}

main div article img {
    width: 334px;
    height: auto;
}

main div article h3 {
    font-family: "Outfit", serif;
    font-weight: 600;
    font-size: 38px;
    color: #30261C;
    margin: 0;
    padding: 0;
}

main div article h4 {
    font-family: "Outfit", serif;
    font-size: 20px;
    font-weight: normal;
    color: #2A0000;
    width: 80%;
    margin: 0;
}

main div article div {
    display: flex;
    flex-direction: row;
    justify-content: space-between  ;
}

main div article div p {
    font-family: "PoppinsMedium", serif;
    font-size: 20px;
    font-weight: bold;
    color: #2A0000;
    width: 80%;
    margin: 0;
}

main div article div .btn2 a {
    font-size: 14px;
    font-family: "Outfit", sans-serif;
    color: white;
    font-weight: 500;
    text-decoration: none;
    display: block;
    height: 40px;
    width: 130px;
    background-color: #2A0000;
    border: 1px solid transparent;
    border-radius: 8px;
    display: flex;
    align-items: center;
    justify-content: center;
}

main div article div .btn2 a:hover {
    background-color: transparent;
    color: #2A0000;
    border: 1.5px solid #2A0000;
}